body{
    font-family: Arial;
    background:#0f172a;
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    }
    
    .container{
    text-align:center;
    }
    
    #mic-container{
    margin-top:30px;
    }
    
    #mic-button{
    
    width:150px;
    height:150px;
    
    border-radius:50%;
    border:none;
    
    background:#2563eb;
    
    font-size:60px;
    
    cursor:pointer;
    
    transition:0.3s;
    }
    
    #mic-button:hover{
    background:#1d4ed8;
    }
    
    #mic-button.listening{
    background:#ef4444;
    }
    
    #status{
    margin-top:20px;
    font-size:18px;
    }